[submodule "third-parties/claude-code-templates"]
	path = third-parties/claude-code-templates
	url = git@github.com:MarkShawn2020/claude-code-templates.git
[submodule "third-parties/claude-plugins-official"]
	path = third-parties/claude-plugins-official
	url = git@github.com:anthropics/claude-plugins-official.git
[submodule "third-parties/claude-code-docs"]
	path = third-parties/claude-code-docs
	url = git@github.com:MarkShawn2020/claude-code-docs.git
[submodule "third-parties/codex"]
	path = third-parties/codex
	url = git@github.com:openai/codex.git
